<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
  <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<style>

  #banner {
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:100%;
      height: 240px;
      object-fit:cover;
      object-position: 25px 0px;
  }
</style>


<body>
    <div class="container mt-5">
      <img id="banner" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGhjZ3k5c3c5NGgxMnEwZHB5NTRiaWxqYnNmMzJyeGczcXU5eW1yYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1qbuc9zsBIPoG6UefE/giphy.gif">
      <h1 style="color:#551515;">Centro de Bachillerato Tecnológico Agropecuario No.205</h1>
      <h4>Proceso de Cambio de Categoría 2025</h4>
      <img width="200" src="https://cbta205.onrender.com/static/logo205.jpg">
        <!-- FLASH MESSAGES -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}



        <form method="post" action="{{ url_for('login') }}">
        <!--<form id="myform" method="POST" action="choice">-->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <br>
            <br>

            <a>¿No tienes una cuenta?</a>
            <br>

            <form id="myform" method="POST" action="choice">
              <label>
                <input type="checkbox" name="choice" value="D" class="single-checkbox"> ¿Quieres registrarte?
              </label>
              <br>

              <br>

              <a href="#" id="register-link">Registrar &#128209;</a>
              <!--<a type="button" href="{{ url_for('register') }}">Haz click para registrarte:</a>-->
            </form>
                <br><br>

            <br>

        </form>

    </div>





  <script>
    document.getElementById("register-link").addEventListener("click", function (e) {
      e.preventDefault();
      const checked = document.querySelector('input[name="choice"]:checked');
      if (checked) {
        const choice = checked.value;
        window.location.href = `/register?choice=${choice}`;
      } else {
        alert("Por favor, selecciona una opción antes de continuar.");
      }
    });
  </script>
</body>
</html>