<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8" />
<title>concurso</title>
<!--<meta name="frm_plan" content="form planea" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
  <style>
      .btn-sm {
          width:100px;
      }

  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Campos que NO queremos forzar a uppercase
      const excludeFields = ['fuentes', 'meta', 'prop', 'temas', 'apAct', 'deAct', 'ciAct'];

      const inputs = document.querySelectorAll('input[type="text"], input[type="number"], textarea');

      inputs.forEach(function(input) {
        // Solo agregar el evento si el campo NO está en excludeFields
        if (!excludeFields.includes(input.name)) {
          input.addEventListener('input', function() {
            this.value = this.value.toUpperCase();
          });
        }
      });
    });
  </script>
<!--
  <script>
      // Function to concatenate fields before submitting the form
      function concatenateFields() {
          // Get values of first_name and last_name
          var docenteID = document.getElementById("docenteID").value;
          var asig = document.getElementById("asig").value;
          var semestre = document.getElementById("semestre").value;
          var grupos = document.getElementById("grupos").value;

          // Concatenate them and assign to the hidden full_name input
          document.getElementById("cve").value = docenteID + ciclo + periodo + carrera + semestre + grupos + asig
      }
  </script>
-->

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="container mt-3">
            {% for category, message in messages %}
              <div class="alert alert-{{ 'danger' if category == 'danger' else 'success' }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}



<body>

  <div class="container">

  <main class="container">
    <h3>Registrar para proceso 2025:</h3>

      <form method="POST" enctype="multipart/form-data" action="{{ url_for('enviaractividad') }}">

      <form method="POST" enctype="multipart/form-data" action="{{ url_for('enviaractividad') }}">
      <label>Número de control:</label> <br>
      <input type="text" name="numero_control" placeholder="RFC" required> <br>


      <label>Archivo PDF:</label> 
      <input type="file" name="pdf_file" accept="application/pdf" required><br><br> 
      <button type="submit">Enviar</button>  
        <a href="{{ request.referrer }}">
            <button type="button">Cancelar y salir</button>
        </a>                     
    </form>
    </main>
</div>

</body>

</html>


