<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Registro de Usuario</h1>

  

    <form method="POST" action="/register">
      <input name="numero_control" placeholder="Número de control" required />
      <input name="apellido_paterno" placeholder="Apellido paterno" required />
      <input name="apellido_materno" placeholder="Apellido materno" required />
      <input name="nombres" placeholder="Nombres" required />
      <input name="username" placeholder="Usuario" required />
      <input name="password" type="password" placeholder="Contraseña" required />
      
      <button type="submit">Registrar</button>
    </form>
</body>
</html>